# -----------------------------------------------------------------------------
# Fichier de configuration de l'application batch
# -----------------------------------------------------------------------------
login    =  @batchUserLogin@
artifactId = mint-server
