<assembly>
    <id>assembly</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>

    <fileSets>
        <fileSet>
            <directory>${project.basedir}/target/script</directory>
            <outputDirectory>${deliveryDirectory}</outputDirectory>
            <includes>
                <include>*.*sh</include>
            </includes>
            <excludes/>
            <fileMode>777</fileMode>
            <lineEnding>unix</lineEnding>
            <directoryMode>777</directoryMode>
        </fileSet>
        <fileSet>
            <directory>${project.basedir}/target/config</directory>
            <outputDirectory>${deliveryDirectory}</outputDirectory>
            <includes>
                <include>*.template</include>
            </includes>
            <lineEnding>unix</lineEnding>
        </fileSet>
        <fileSet>
            <directory>${project.basedir}/target/binary</directory>
            <outputDirectory>${deliveryDirectory}</outputDirectory>
        </fileSet>
        <fileSet>
            <directory>${project.basedir}/target</directory>
            <outputDirectory>${deliveryDirectory}</outputDirectory>
            <includes>
                <include>${project.artifactId}-${project.version}.jar</include>
            </includes>
        </fileSet>
    </fileSets>
    <dependencySets>
        <dependencySet>
            <outputDirectory>${deliveryDirectory}</outputDirectory>
        </dependencySet>
    </dependencySets>
</assembly>